{{- $pcType := "" -}}
{{- if stdinIsATTY -}}
{{-   $pcType = promptChoice "PC type" (list "private" "job") -}}
{{- else -}}
{{-   $pcType = "private" -}}
{{- end -}}

[data]
    pcType = {{ $pcType | quote }}
