#!/bin/bash

casks=(
    claude-code
    ghostty
    google-chrome
    google-japanese-ime
    mapture
    obsidian
    postman
    raycast
    visual-studio-code
{{ if eq .pcType "private" -}}
    brave-browser
    discord
    godot
    notion
    renpy
    shotcut
{{ end -}}
{{ if eq .pcType "job" -}}
    zoom
{{ end -}}
)

for cask in "${casks[@]}"; do
    brew install --cask "$cask"
done
