add_newline = false

[package]
disabled = true

[cmd_duration]
disabled = true

[line_break]
disabled = true

[directory]
truncation_length = 10
truncate_to_repo  = false

[git_branch]
symbol = ''

[git_status]
use_git_executable = true
untracked          = "U"
modified           = "M"
deleted            = "D"
staged             = '[++\($count\)](green)'
ahead              = '⇡ ${count}'
diverged           = '⇕⇡ ${ahead_count}⇣ ${behind_count}'
behind             = '⇣ ${count}'
stashed            = ''

[golang]
disabled = true

[nodejs]
disabled = true

[python]
disabled = true

[ruby]
disabled = true

[terraform]
disabled = true

[deno]
disabled = true

[buf]
disabled = true

[docker_context]
disabled = true

[rust]
disabled = true

[aws]
disabled = true

[bun]
disabled = true

[lua]
disabled = true

[nix_shell]
disabled = true

